body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    font-family: cursive;
}
h2,h3{
    text-align: center;
    color: #49f222;
}
h3{
    text-align: center;
    color: #255ff5;
}
p {
    text-align: center;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 20px 0;
}

header {
    background-color: #255ff5;
    padding: 10px 0;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
li{
    font-size: x-large;
}

#about{
    align-items: center;
    padding: 100px;
    color: #f4f4f4;
    background-color: #212121;
    height: 70vh;
}
section {
    padding: 20px;
    margin: 20px 0;
}
#contact{
    align-items: center;
    padding-bottom: 100px;
}
.certificate-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.certificate{
    flex: 1;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 4px solid #255ff5;
    color: #212121;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #255ff5;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social a {
    font-size: 27px;
    margin: 0.5rem;

}

.social a .bx {
    padding: 5px;
    color: aliceblue;
    background: #49f222;
    border-radius: 30%;
}

.social a .bx:hover {
    background: #ccc;
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 500;
    color: #49f222;
    padding: 1rem;
}

.links a:hover {
    color: #ccc;
}

.contact p {
    text-align: center;

}