body {
    background-image: url(picture1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    /*vh stand for viewpiont height*/
}

button {
    font-size: 3em;
    color: blueviolet;
    padding: 10px;
    background-color: transparent;
    border: 2px solid blueviolet;
    align-items: center;
}

.massage {
    text-align: center;
}